/tp8B3/build/
/tp8B3/dist/
/tp8cV2/build/
/tp8cV2/dist/
/TP8b/tp8B/build/
/TP8b/tp8B/dist/
/tp8cV2_2/build/
/tp8cV2_2/dist/
/tp9/build/
/tp9/dist/
/test8/dist/
/test8/build/
/test_prog/build/
/test_prog/dist/